# torch is pre-installed in the base image
numpy<2.0.0
tiktoken==0.6.0
requests==2.31.0
google-cloud-storage==2.15.0
datasets==2.18.0
aiohttp==3.9.3
multiprocess==0.70.16
wandb>=0.16.0
python-dotenv>=1.0.0

